{% extends 'base.html.twig' %}

{% block title %}PROSMobile - Accueil{% endblock %}

{% block body %}
	{# home #}
	<div class="container-fluid my-5">
		<div class="row">
			<div id = "toast-container2"></div>
		</div>
	</div>
{% endblock %}
