{% extends 'base.html.twig' %}

{% block title %}Edit CommandePro{% endblock %}

{% block body %}
    <h1>Edit CommandePro</h1>

    {{ include('commande/commande_pro/_form.html.twig', {'button_label': 'Update'}) }}
    {% if is_granted('ROLE_PRO') %}
        <a href="{{ path('commande_index') }}">back to list</a>
    {% elseif is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_commande_index') }}">back to list</a>
    {% endif %}
    

    {{ include('commande/commande_pro/_delete_form.html.twig') }}
{% endblock %}
