{% extends 'base.html.twig' %}

{% block title %}New CommandePro{% endblock %}

{% block body %}
    <h1>Create new CommandePro</h1>

    {{ include('commande/commande_pro/_form.html.twig') }}

    <a href="{{ path('commande_index', {'id': app.user.pro.id}) }}">back to list</a>
{% endblock %}
