$admin-color: #FFD54F;
$border-color: #E0E0E0;
$icon-color: #00796B;
$info-color: #FFD54F;
$link-color: #4DB6AC;
$online-color: #00C851;
$primary-color: #00796B;
$search-bg-color: transparent;
$secondary-color: #FFD54F;
$tertiary-color: #3E4551;
$transition: all 1s ease;
* {
    box-sizing: border-box;
}

$warning-color: #E64A19;