@import "~bootstrap/scss/bootstrap";
@import "vars";

// body {
//     background-color: $secondary-color;
// }


a {
    color: #33B5E5;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 50px;
    text-align: left;
}

h6 {
    text-align: center;
}

.card {
    display: flex;
    justify-content: center;
    height: 100%;
}

//home
.carousel-item {
    height: 300px;;
}

//navbar
.account {
    width: 287px;
}

.account::after {
    border-bottom: 8px solid #FFFFFF;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 95px;
    position: absolute;
    top: -7px;
}

.account::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.2);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 95px;
    position: absolute;
    top: -8px;
}

.create-account {
    color: #33B5E5;
    font-size: 0.7em;
    margin: 5px;
}

.links li {
    margin: 0 10px;
}

.logged-message {
    color: #00C851;
    font-size: 0.7em;
}

.login-message {
    font-size: 0.7em;
}

.logo {
    color: #00C851 !important;
}

.new-customer {
    font-size: 0.7em;
    margin: 5px;
}

.phone {
    align-items: center;
    background-color: #00C851;
    color: #FFFFFF;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0 10px 0 0;
}

.product::after {
    border-bottom: 8px solid #FFFFFF;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 63px;
    position: absolute;
    top: -7px;
}

.product::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.2);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 63px;
    position: absolute;
    top: -8px;
}

.search-input {
    width: 450px !important;
}

//dashboard
.nav-pills .nav-link.active {
    background-color: #FFFFFF !important;
}

// forms
.custom-form input {
    border: solid 1px #E0E0E0;
    height: 35px;
    width: 300px;
}

input, input:focus{
    padding: 5px;
    outline: none;
}

.custom-form label {
    display: flex;
    margin: 10px 0;
}

.custom-form select {
    border: solid 1px #E0E0E0;
    padding: 5px;
}

.custom-form textarea {
    border: solid 1px #E0E0E0;
    height: 300px;
    padding: 5px;
    width: 300px;
}

//buttons
.add-basket-button, .add-button, .checkout-button, .edit-button, .save-button, .show-button {
    align-items: center;
    background-color: #00C851;
    border: none;
    color: #FFFFFF;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0;
    width: 40px;
}

.add-button-sm, .edit-button-sm, .show-button-sm {
    align-items: center;
    background-color: #FFFFFF;
    border: none;
    color: #00C851;
    display: flex;
    height: 25px;
    justify-content: center;
    padding: 0;
    width: 25px;
}

.delete-button {
    align-items: center;
    background-color: #FF4444;
    border: none;
    color: #FFFFFF;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0;
    width: 40px;
}

.delete-button-sm {
    align-items: center;
    background-color: #FFFFFF;
    border: none;
    color: #FF4444;
    display: flex;
    height: 25px;
    justify-content: center;
    padding: 0;
    width: 25px;
}

.booking-button {
    align-items: center;
    background-color: #00C851;
    border: none;
    color: #FFFFFF;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0;
    width: 180px;
}

.checkout-button {
    align-items: center;
    background-color: #00C851;
    border: none;
    color: #FFFFFF;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0;
    width: 100px;
}

.login-button {
    align-items: center;
    background-color: #00C851;
    border: none;
    color: #FFFFFF;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0;
    width: 150px;
}

.basket-button, .dashboard-button, .logout-button, .profile-button {
    align-items: center;
    background-color: #FFFFFF;
    border: none;
    color: #FFBB33;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0;
    width: 40px;
}

.facebook-button {
    align-items: center;
    background-color: #FFFFFF;
    border: none;
    color: #33B5E5;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0;
    width: 40px;
}

.search-button {
    align-items: center;
    background-color: #FFFFFF;
    border: none;
    color: #00C851;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0;
    width: 40px;
}

//icons
.brand {
    width: 150px;
}

.icon-sm {
    height: 1em;
    width: 1em;
}

.icon-md {
    height: 1.5em;
    width: 1.5em;
}

.icon-lg {
    height: 2em;
    width: 2em;
}

.phone-icon {
    align-items: center;
    background-color: #00C851;
    border: none;
    color: #FFFFFF;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0;
    width: 40px;
}

.show-icon {
    align-items: center;
    background-color: #FFFFFF;
    border: none;
    color: #00C851;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0;
    width: 40px;
}

.user-icon {
    align-items: center;
    background-color: #FFFFFF;
    border: none;
    color: #00C851;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0;
    width: 40px;
}

//tabs
.user-tab {
    align-items: center;
    background-color: #FFFFFF;
    border: none;
    color: #00C851;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 0;
    width: 50px;
}

.account-tab, .brand-tab, .discount-tab, .order-tab, .product-tab {
    align-items: center;
    background-color: #FFFFFF;
    border: none;
    color: #00C851;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 0;
    width: 50px;
}

//media
.img-product {
    width: 250px;
}
