@import "~bootstrap/scss/bootstrap";
@import "vars";

a {
    color: $link-color;

    &:hover {
        color          : $primary-color;
        text-decoration: none;
    }
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

h6 {
    text-align: center;
}

.message-close-button {
    color: #FFFFFF;

    &:hover {
        opacity: 0.5;
    }
}

.success-message {
    background-color: $info-color;
    border          : none;
    border-radius   : 0;
    color           : #FFFFFF;
}

//home
.discount-message {
    background-color: $info-color;
    border          : none;
    border-radius   : 0;
    color           : #FFFFFF;
}

//navbar
.account {
    width: 287px;
}

.account::after {
    border-bottom: 8px solid #FFFFFF;
    border-left  : 9px solid rgba(0, 0, 0, 0);
    border-right : 9px solid rgba(0, 0, 0, 0);
    content      : "";
    display      : inline-block;
    left         : 95px;
    position     : absolute;
    top          : -7px;
}

.account::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.2);
    border-left  : 9px solid rgba(0, 0, 0, 0);
    border-right : 9px solid rgba(0, 0, 0, 0);
    content      : "";
    display      : inline-block;
    left         : 95px;
    position     : absolute;
    top          : -8px;
}

.create-account-link {
    color    : $link-color;
    font-size: 0.7em;
    margin   : 5px;
}

.links li {
    border-bottom: solid 5px transparent;
    text-align   : center;
    width        : 120px;

    &:hover {
        -webkit-transition: all 0.8s ease;
        border-bottom     : solid 5px $primary-color;
        text-align        : center;
        transition        : all 0.8s ease;
        width             : 120px;
    }
}

.logged-message {
    color    : $primary-color;
    font-size: 0.7em;
}

.login-message {
    font-size: 0.7em;
}

.logo {
    color: $primary-color !important;
}

.new-customer {
    font-size: 0.7em;
    margin   : 5px;
}

.phone {
    align-items     : center;
    background-color: $primary-color;
    color           : #FFFFFF;
    display         : flex;
    height          : 40px;
    justify-content : center;
    padding         : 0 10px 0 0;
}

.product::after {
    border-bottom: 8px solid #FFFFFF;
    border-left  : 9px solid rgba(0, 0, 0, 0);
    border-right : 9px solid rgba(0, 0, 0, 0);
    content      : "";
    display      : inline-block;
    left         : 63px;
    position     : absolute;
    top          : -7px;
}

.product::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.2);
    border-left  : 9px solid rgba(0, 0, 0, 0);
    border-right : 9px solid rgba(0, 0, 0, 0);
    content      : "";
    display      : inline-block;
    left         : 63px;
    position     : absolute;
    top          : -8px;
}

.search-input {
    border    : solid 1px #FFFFFF;
    transition: 0.8s ease;
    width     : 120px !important;

    &:hover {
        border-color: $primary-color;
    }

    &:focus {
        width: 400px !important;
    }
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

//dashboard
.nav-pills .nav-link.active {
    background-color: #FFFFFF !important;
}

// forms
.custom-form input {
    border : solid 1px #E0E0E0;
    height : 35px;
    padding: 20px;
    width  : 300px;

    &:hover {
        border-color: $primary-color;
    }
}

.custom-form label {
    display: flex;
    margin : 10px 0;
}

.custom-form select {
    border : solid #E0E0E0;
    padding: 20px;
}

.custom-form textarea {
    border : solid #E0E0E0;
    height : 300px;
    padding: 20px;
    width  : 300px;
}

.form-control {
    -webkit-appearance: none;
    border-radius     : 0;
    box-shadow        : none !important;
    outline           : none !important;

    &:focus {
        border-color: $primary-color;
    }
}

.radio-form label {
    display: flex;
    margin : 10px 0;
}

.radio-form input {
    -moz-appearance   : none;
    -webkit-appearance: none;
    appearance        : none;
    background-color  : #FFFFFF;
    border            : solid 1px #E0E0E0;
    height            : 15px;
    margin-left       : 15px;
    width             : 15px;

    &:checked {
        background-color: $primary-color;
    }

    &:hover {
        border: solid 1px $primary-color;
    }
}

//buttons
.add-basket-button,
.save-button,
.show-button {
    align-items     : center;
    background-color: $primary-color;
    border          : none;
    color           : #FFFFFF;
    display         : flex;
    height          : 40px;
    justify-content : center;
    opacity         : 1;
    padding         : 0;
    transition      : 0.8s ease;
    width           : 40px;

    &:hover {
        opacity: 0.5;
    }
}

.add-button,
.edit-button {
    align-items     : center;
    background-color: $admin-color;
    border          : none;
    color           : #FFFFFF;
    display         : flex;
    height          : 40px;
    justify-content : center;
    opacity         : 1;
    padding         : 0;
    transition      : 0.8s ease;
    width           : 40px;

    &:hover {
        opacity: 0.5;
    }
}

.add-button-sm,
.edit-button-sm,
.show-button-sm {
    align-items     : center;
    background-color: #FFFFFF;
    border          : none;
    color           : $primary-color;
    display         : flex;
    height          : 25px;
    justify-content : center;
    opacity         : 1;
    padding         : 0;
    transition      : 0.8s ease;
    width           : 25px;

    &:hover {
        opacity: 0.5;
    }
}

.delete-button {
    align-items     : center;
    background-color: $warning-color;
    border          : none;
    color           : #FFFFFF;
    display         : flex;
    height          : 40px;
    justify-content : center;
    opacity         : 1;
    padding         : 0;
    transition      : 0.8s ease;
    width           : 40px;

    &:hover {
        opacity: 0.5;
    }
}

.delete-button-sm {
    align-items     : center;
    background-color: #FFFFFF;
    border          : none;
    color           : $warning-color;
    display         : flex;
    height          : 25px;
    justify-content : center;
    opacity         : 1;
    padding         : 0;
    transition      : 0.8s ease;
    width           : 25px;

    &:hover {
        opacity: 0.5;
    }
}

.dashboard-button,
.logout-button,
.profile-button {
    align-items     : center;
    background-color: #FFFFFF;
    border          : none;
    color           : $link-color;
    display         : flex;
    height          : 40px;
    justify-content : center;
    opacity         : 1;
    padding         : 0;
    transition      : 0.8s ease;
    width           : 40px;

    &:hover {
        opacity: 0.5;
    }
}

.basket-button,
.facebook-button,
.search-button {
    align-items     : center;
    background-color: #FFFFFF;
    border          : none;
    color           : $primary-color;
    display         : flex;
    height          : 40px;
    justify-content : center;
    opacity         : 1;
    padding         : 0;
    transition      : 0.8s ease;
    width           : 40px;

    &:hover {
        opacity: 0.5;
    }
}

.booking-button {
    align-items     : center;
    background-color: $primary-color;
    border          : none;
    color           : #FFFFFF;
    display         : flex;
    height          : 40px;
    justify-content : center;
    opacity         : 1;
    padding         : 0;
    transition      : 0.8s ease;
    width           : 180px;

    &:hover {
        opacity: 0.5;
    }
}

.checkout-button {
    align-items     : center;
    background-color: $primary-color;
    border          : none;
    color           : #FFFFFF;
    display         : flex;
    height          : 40px;
    justify-content : center;
    opacity         : 1;
    padding         : 0;
    transition      : 0.8s ease;
    width           : 100px;

    &:hover {
        opacity: 0.5;
    }
}

.create-account,
.login-button {
    align-items     : center;
    background-color: $primary-color;
    border          : none;
    color           : #FFFFFF;
    display         : flex;
    height          : 40px;
    justify-content : center;
    opacity         : 1;
    padding         : 0;
    transition      : 0.8s ease;
    width           : 150px;

    &:hover {
        opacity: 0.5;
    }
}

//icons
.brand {
    filter    : grayscale(100%);
    transition: 0.8s ease;
    width     : 250px;

    &:hover {
        filter: grayscale(0%);
    }
}

.icon-sm {
    height: 1em;
    width : 1em;
}

.icon-md {
    height: 1.5em;
    width : 1.5em;
}

.icon-lg {
    height: 2em;
    width : 2em;
}

.phone-icon {
    align-items     : center;
    background-color: $primary-color;
    border          : none;
    color           : #FFFFFF;
    display         : flex;
    height          : 40px;
    justify-content : center;
    padding         : 0;
    width           : 40px;
}

.show-icon {
    align-items     : center;
    background-color: #FFFFFF;
    border          : none;
    color           : $primary-color;
    display         : flex;
    height          : 40px;
    justify-content : center;
    padding         : 0;
    width           : 40px;
}

.user-icon {
    align-items     : center;
    background-color: #FFFFFF;
    border          : none;
    color           : $primary-color;
    display         : flex;
    height          : 40px;
    justify-content : center;
    padding         : 0;
    width           : 40px;
}

//tabs
.user-tab {
    align-items     : center;
    background-color: #FFFFFF;
    border          : none;
    color           : $primary-color;
    display         : flex;
    height          : 50px;
    justify-content : center;
    padding         : 0;
    width           : 50px;
}

.account-tab,
.brand-tab,
.discount-tab,
.order-tab,
.product-tab {
    align-items     : center;
    background-color: #FFFFFF;
    border          : none;
    color           : $primary-color;
    display         : flex;
    height          : 50px;
    justify-content : center;
    padding         : 0;
    width           : 50px;
}

//media
.img-product {
    width: 250px;
}

//product
.admin-discount {
    background-color: $admin-color;
    padding         : 5px;
}

.brand-message {
    background-color: $info-color;
    border          : none;
    border-radius   : 0;
    color           : #FFFFFF;
}

.price {
    font-size: 1.5em;
}

.discount {
    background-color: $info-color;
}

.inventory {
    background-color: $admin-color;
    padding         : 5px;
}

//table
.custom-thead {
    background-color: $tertiary-color;
    color           : #FFFFFF;
}