@import "~bootstrap/scss/bootstrap";
@import "vars";

// body {
//     background-color: $secondary-color;
// }


a {
    color: $black-color;
}


.card {
    display: flex;
    justify-content: center;
    height: 100%;
}
