{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <div class="container-fluid">
        <div class="row d-flex justify-content-start">
            <div class="col">
                <nav>
                    <ul>
                        <p><a href="{{ path('pro_index')}}">Pro</a></p>
                        <p><a href="{{ path('particulier_index')}}">Particulier</a></p>
                        <p><a href="{{ path('admin_commande_index')}}">Commande</a></p>
                    </ul>
            </div>    
        </div>
    </div>
    
</div>
{% endblock %}