{% extends 'base.html.twig' %}

{% block title %}New Spec{% endblock %}

{% block body %}
    <h1>Create new Spec</h1>

    {{ include('spec/_form.html.twig') }}

    <a href="{{ path('spec_index') }}">back to list</a>
{% endblock %}
