{% extends 'base.html.twig' %}

{% block title %}New Particulier{% endblock %}

{% block body %}
    <h1>Create new Particulier</h1>

    {{ include('particulier/_form.html.twig') }}

    <a href="{{ path('particulier_index') }}">back to list</a>
{% endblock %}
