{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <h1>Créer une catégorie</h1>

    {{ include('type_art/_form.html.twig') }}

    <a href="{{ path('type_art_index') }}">Retour à la liste</a>
{% endblock %}
