{% extends 'base.html.twig' %}

{% block title %}New Composant{% endblock %}

{% block body %}
    <h1>Create new Composant</h1>

    {{ include('composant/_form.html.twig') }}

    <a href="{{ path('composant_index') }}">back to list</a>
{% endblock %}
