<form method="post" action="{{ path('art_comp_delete', {'id': art_comp.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ art_comp.id) }}">
    <button class="btn">Delete</button>
</form>
