<form method="post" action="{{ path('art_comp_delete', {'id': art_comp.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article compatible?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ art_comp.id) }}">
	<button class="btn" title="Supprimer">
		<i data-fa-symbol="remove" class="fas fa-trash text-secondary"></i>
		<svg class="icon">
			<use xlink:href="#remove"></use>
		</svg>
	</button>
</form>
