{% extends 'base.html.twig' %}

{% block title %}New ArtComp{% endblock %}

{% block body %}
    <h1>Create new ArtComp</h1>

    {{ include('art_comp/_form.html.twig') }}

    <a href="{{ path('art_comp_index') }}">back to list</a>
{% endblock %}
