{% extends 'base.html.twig' %}

{% block title %}PROSmobile |configurer un article{% endblock %}

{% block body %}
	{# tree #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			<li class="breadcrumb-item">
				<a href="{{ path('admin_index') }}">
					Dashboard
				</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path('article_index') }}">
					Gestion des articles
				</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				Configurer le produit
			</li>
		</ol>
	</nav>
	{# body #}
	<h1>Caractéristiques du produit</h1>
	{# include article form #}
	{{ include('article/_form.html.twig') }}
	{# delete button #}
	<div class="container mt-2">
		<div class="row">
			{{ include('article/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
